<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="preload" href="/stylesheets//normalize.css" as="style">
    <link rel="stylesheet" href="/stylesheets//normalize.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Krub:wght@400;700&display=swap" rel="stylesheet">
    <link rel="preload" href="/stylesheets/style.css" as="style">
    <link rel="stylesheet" href="/stylesheets/style.css">
    
  </head>
  <body>
    <h1 class="titulo">Hospital Backend</h1>
    <div class="nav-bg"> 
        <nav class="nav-principal contenedor">
            <a href="/pacientes">Listado de Pacientes </a>
            <a href="/medicos">Listado de medicos</a>
            <a href="/citas">Listado de citas</a>           
        </nav>
    </div>
    {{{body}}}
    
  <script src="/javascripts/botones.js"></script>
  </body>
</html>
