<h1>Error 404 - Página no encontrada</h1>
<p>¡Lo sentimos, parece que la pagina que estas buscando se perdió en la sala de emergencias! </p>
<p>Estamos buscando un especialista en encontrar enlaces extraviados...</p>
<input type="button" class="boton" id="botonVolver" value="Home" onclick="irAlHome()">
