<div id="formularioMedicos">
  <form action="./agregar" method="post">
    <h2>REGISTRO DE MEDICOS</h2>
    <label for="nombre">Nombre:<span> *</span></label>
    <input type="text" id="nombre" name="nombre" required /><br />
    <label for="apellido">Apellido:<span> *</span></label>
    <input type="text" id="apellido" name="apellido" required /><br />
    <label for="cedula">Número de Cédula:<span> *</span></label>
    <input type="number" id="cedula" name="cedula" required /><br />
    <label for="consultorio">Consultorio:<span> *</span></label>
    <input type="number" id="consultorio" name="consultorio" required /><br />
    <label for="correo">Correo de contacto:<span> *</span></label>
    <input type="email" id="correo" name="correo" required /><br />
    <label for="especialidad">Especialidad requerida:<span> *</span></label>
    <select id="especialidad" name="especialidad" required>
      <option value="">------------------------ Seleccione la especialidad
        ---------------------</option>
      {{#each especialidades}}
        <option value="{{this}}">{{this}}</option>
      {{/each}}
    </select><br />    
    <input id="enviar" type="submit" value="Enviar" />
    <a class="volver" href="/medicos">
    <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-arrow-back" width="48" height="48" viewBox="0 0 24 24" stroke-width="1.5" stroke="#000000" fill="none" stroke-linecap="round" stroke-linejoin="round">
    <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
    <path d="M9 11l-4 4l4 4m-4 -4h11a4 4 0 0 0 0 -8h-1" />
    </svg>
    </a>
  </form>
</div>